<a href="https://colab.research.google.com/github/imabari/ImabariScraping/blob/master/nagoya.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## インストール

In [ ]:
!apt install poppler-utils poppler-data

Reading package lists... Done
Building dependency tree
Reading state information... Done
The following package was automatically installed and is no longer required:
  libnvidia-common-430
Use 'apt autoremove' to remove it.
Suggested packages:
  ghostscript fonts-japanese-mincho | fonts-ipafont-mincho
  fonts-japanese-gothic | fonts-ipafont-gothic fonts-arphic-ukai
  fonts-arphic-uming fonts-nanum
The following NEW packages will be installed:
  poppler-data poppler-utils
0 upgraded, 2 newly installed, 0 to remove and 7 not upgraded.
Need to get 1,633 kB of archives.
After this operation, 13.1 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic/main amd64 poppler-data all 0.4.8-2 [1,479 kB]
Get:2 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 poppler-utils amd64 0.62.0-2ubuntu2.10 [154 kB]
Fetched 1,633 kB in 0s (12.5 MB/s)
Selecting previously unselected package poppler-data.
(Reading database ... 134985 files and directories currently installed.)
Preparing to unpack .../poppler-data_0.4.8-2_all.deb ...
Unpacking poppler-data (0.4.8-2) ...
Selecting previously unselected package poppler-utils.
Preparing to unpack .../poppler-utils_0.62.0-2ubuntu2.10_amd64.deb ...
Unpacking poppler-utils (0.62.0-2ubuntu2.10) ...
Setting up poppler-utils (0.62.0-2ubuntu2.10) ...
Setting up poppler-data (0.4.8-2) ...
Processing triggers for fontconfig (2.12.6-0ubuntu2) ...
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...

In [ ]:
!wget https://www-eu.apache.org/dist/pdfbox/2.0.17/pdfbox-app-2.0.17.jar -O pdfbox-app.jar

--2019-12-18 00:17:53--  https://www-eu.apache.org/dist/pdfbox/2.0.17/pdfbox-app-2.0.17.jar
Resolving www-eu.apache.org (www-eu.apache.org)... 95.216.24.32, 2a01:4f9:2a:185f::2
Connecting to www-eu.apache.org (www-eu.apache.org)|95.216.24.32|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 9250067 (8.8M) [application/java-archive]
Saving to: ‘pdfbox-app.jar’

pdfbox-app.jar      100%[===================>]   8.82M  25.4MB/s    in 0.3s

2019-12-18 00:17:53 (25.4 MB/s) - ‘pdfbox-app.jar’ saved [9250067/9250067]

## ファイルをクリア

In [ ]:
!rm *.pdf
!rm *.xml
!rm *.csv

!rm result.tsv
!rm count.tsv

## PDFファイルを選ぶ

In [ ]:
# kaitodeta1.pdf
!wget http://www.city.nagoya.jp/kenkofukushi/cmsfiles/contents/0000088/88972/kaitodeta1.pdf -O data.pdf

!java -jar pdfbox-app.jar PDFSplit -split 155 data.pdf

!for i in {1..16}; do pdftohtml -q -xml data-${i}.pdf data-${i}.xml; done

n = 17

pdf_num = 1

--2019-12-18 00:17:57--  http://www.city.nagoya.jp/kenkofukushi/cmsfiles/contents/0000088/88972/kaitodeta1.pdf
Resolving www.city.nagoya.jp (www.city.nagoya.jp)... 160.13.184.54, 160.13.185.54
Connecting to www.city.nagoya.jp (www.city.nagoya.jp)|160.13.184.54|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1871921 (1.8M) [application/pdf]
Saving to: ‘data.pdf’

data.pdf            100%[===================>]   1.79M   286KB/s    in 7.4s

2019-12-18 00:18:05 (246 KB/s) - ‘data.pdf’ saved [1871921/1871921]

In [ ]:
# kaitodeta2.pdf
!wget http://www.city.nagoya.jp/kenkofukushi/cmsfiles/contents/0000088/88972/kaitodeta2.pdf -O data.pdf

!java -jar pdfbox-app.jar PDFSplit -split 155 data.pdf

!for i in {1..16}; do pdftohtml -q -xml data-${i}.pdf data-${i}.xml; done

n = 17

pdf_num = 2

--2019-12-15 05:48:26--  http://www.city.nagoya.jp/kenkofukushi/cmsfiles/contents/0000088/88972/kaitodeta2.pdf
Resolving www.city.nagoya.jp (www.city.nagoya.jp)... 160.13.184.54, 160.13.185.54
Connecting to www.city.nagoya.jp (www.city.nagoya.jp)|160.13.184.54|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1866202 (1.8M) [application/pdf]
Saving to: ‘data.pdf’

data.pdf            100%[===================>]   1.78M   598KB/s    in 3.0s

2019-12-15 05:48:30 (598 KB/s) - ‘data.pdf’ saved [1866202/1866202]

In [ ]:
# kaitodeta3.pdf
!wget http://www.city.nagoya.jp/kenkofukushi/cmsfiles/contents/0000088/88972/kaitodeta3.pdf -O data.pdf

!java -jar pdfbox-app.jar PDFSplit -split 155 data.pdf

!for i in {1..25}; do pdftohtml -q -xml data-${i}.pdf data-${i}.xml; done

n = 26

pdf_num = 3

--2019-12-15 05:49:22--  http://www.city.nagoya.jp/kenkofukushi/cmsfiles/contents/0000088/88972/kaitodeta3.pdf
Resolving www.city.nagoya.jp (www.city.nagoya.jp)... 160.13.185.54, 160.13.184.54
Connecting to www.city.nagoya.jp (www.city.nagoya.jp)|160.13.185.54|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2621621 (2.5M) [application/pdf]
Saving to: ‘data.pdf’

data.pdf            100%[===================>]   2.50M   659KB/s    in 4.2s

2019-12-15 05:49:26 (609 KB/s) - ‘data.pdf’ saved [2621621/2621621]

In [ ]:
# kaitodeta4.pdf
!wget http://www.city.nagoya.jp/kenkofukushi/cmsfiles/contents/0000088/88972/kaitodeta4.pdf -O data.pdf

!java -jar pdfbox-app.jar PDFSplit -split 155 data.pdf

!for i in {1..17}; do pdftohtml -q -xml data-${i}.pdf data-${i}.xml; done

n = 18

pdf_num = 4

--2019-12-15 05:50:39--  http://www.city.nagoya.jp/kenkofukushi/cmsfiles/contents/0000088/88972/kaitodeta4.pdf
Resolving www.city.nagoya.jp (www.city.nagoya.jp)... 160.13.184.54, 160.13.185.54
Connecting to www.city.nagoya.jp (www.city.nagoya.jp)|160.13.184.54|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1968945 (1.9M) [application/pdf]
Saving to: ‘data.pdf’

data.pdf            100%[===================>]   1.88M   496KB/s    in 4.2s

2019-12-15 05:50:44 (454 KB/s) - ‘data.pdf’ saved [1968945/1968945]

In [ ]:
# kaitodeta5.pdf
!wget http://www.city.nagoya.jp/kenkofukushi/cmsfiles/contents/0000088/88972/kaitodeta5.pdf -O data.pdf

!java -jar pdfbox-app.jar PDFSplit -split 175 data.pdf

!for i in {1..16}; do pdftohtml -q -xml data-${i}.pdf data-${i}.xml; done

n = 17

pdf_num = 5

--2019-12-15 05:53:00--  http://www.city.nagoya.jp/kenkofukushi/cmsfiles/contents/0000088/88972/kaitodeta5.pdf
Resolving www.city.nagoya.jp (www.city.nagoya.jp)... 160.13.184.54, 160.13.185.54
Connecting to www.city.nagoya.jp (www.city.nagoya.jp)|160.13.184.54|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2179970 (2.1M) [application/pdf]
Saving to: ‘data.pdf’

data.pdf            100%[===================>]   2.08M   499KB/s    in 5.3s

2019-12-15 05:53:06 (405 KB/s) - ‘data.pdf’ saved [2179970/2179970]

## XMLからCSVに変換

In [ ]:
from xml.etree import ElementTree as ET
import csv

result = []

for i in range(1, n):

    tree = ET.parse(f"data-{i}.xml")
    root = tree.getroot()

    pages = root.findall("page")

    for page in pages:

        # print(page.attrib)

        for item in page.findall("text"):

            temp = item.attrib
            temp["side"] = i
            temp["text"] = item.text.strip()
            temp["page"] = page.get("number")

            if temp["text"]:
                result.append(temp)
            else:
                print(item.text)

with open("data.csv", "w", newline="", encoding="utf-8") as fw:

    fieldnames = ["page", "side", "top", "left", "width", "height", "font", "text"]

    writer = csv.DictWriter(fw, fieldnames=fieldnames)

    writer.writeheader()

    for row in result:
        writer.writerow(row)

## 分析

In [ ]:
import pandas as pd

df1 = pd.read_csv("data.csv")

# 1ページ目のヘッダー部分を削除
df2 = df1.drop(df1[(df1["page"] == 1) & (df1["top"] < 510)].index)

# ページ・サイド・縦・横・テキスト抽出
df3 = df2.loc[:, ["page", "side", "top", "left", "text"]]

In [ ]:
df3

         page  side  ...  left                                               text
709         1     1  ...    79                           000001 0 0 1 0 0 0 1 0 0
710         1     1  ...   358                                                  0
711         1     1  ...   385                                                  0
712         1     1  ...   412                                             0000 0
713         1     1  ...   485                                                  0
...       ...   ...  ...   ...                                                ...
1296088   154    15  ...    79                                      なんかいうったかわからない
1296089   155    15  ...    79                                           覚えてないです。
1296090    54    16  ...    66            たりした。ぎりぎりで１回目を接種したが、その後すでに副反応の報道を見てやめた。
1296091   103    16  ...    73  と知り、医師から３回目をうつように何度も連絡をうけましたが、本人が強くことわったのは理由があ...
1296092   104    16  ...    71                                  射つ前にみせてもらえると良かった。

[1291489 rows x 5 columns]

In [ ]:
import numpy as np

In [ ]:
dfg = df3.groupby("side")["left"].unique()

In [ ]:
dfg

side
1     [79, 358, 385, 412, 485, 512, 539, 566, 593, 6...
2     [79, 106, 133, 206, 233, 260, 287, 314, 341, 4...
3     [79, 152, 179, 206, 233, 260, 287, 359, 386, 4...
4     [79, 158, 191, 224, 257, 290, 323, 402, 435, 4...
5     [79, 112, 145, 179, 212, 290, 323, 357, 390, 4...
6     [79, 158, 191, 224, 257, 593, 626, 704, 737, 7...
7     [489, 522, 601, 634, 667, 700, 733, 766, 800, ...
8     [79, 732, 766, 799, 832, 865, 898, 382, 383, 765]
9                    [659, 692, 725, 758, 791, 824, 79]
10                   [429, 462, 708, 741, 928, 961, 79]
11                             [173, 206, 942, 510, 79]
12    [79, 613, 647, 725, 804, 883, 916, 994, 1073, ...
13    [79, 158, 191, 270, 303, 381, 415, 493, 526, 605]
14    [79, 647, 681, 759, 792, 871, 904, 937, 970, 1...
15                                                 [79]
16                                         [66, 73, 71]
Name: left, dtype: object

In [ ]:
for i in dfg:
    i.sort()
    s = pd.Series(i)
    print(s[s.diff()<5])

Series([], dtype: int64)
Series([], dtype: int64)
Series([], dtype: int64)
Series([], dtype: int64)
Series([], dtype: int64)
Series([], dtype: int64)
Series([], dtype: int64)
2    383
5    766
dtype: int64
Series([], dtype: int64)
Series([], dtype: int64)
Series([], dtype: int64)
4    647
8    883
dtype: int64
Series([], dtype: int64)
2    648
4    681
dtype: int64
Series([], dtype: int64)
2    73
dtype: int64

## 対象のPDFファイルのずれ補正を実行

In [ ]:
# kaitodeta1.pdf
if pdf_num == 1:

    df3.loc[(df3["side"] == 8) & (df3["left"] == 383), "left"] = 382
    df3.loc[(df3["side"] == 8) & (df3["left"] == 765), "left"] = 766
    df3.loc[(df3["side"] == 12) & (df3["left"] == 646), "left"] = 647
    df3.loc[(df3["side"] == 12) & (df3["left"] == 882), "left"] = 883
    df3.loc[(df3["side"] == 14) & (df3["left"] == 648), "left"] = 647
    df3.loc[(df3["side"] == 14) & (df3["left"] == 680), "left"] = 681

    # 220列に空列生成
    s1 = pd.Series([1, 10, 522, 600, ""], index=df3.columns, name=9999998)
    df3 = df3.append(s1)

    # 223列に空列生成
    s2 = pd.Series([1, 10, 522, 800, ""], index=df3.columns, name=9999999)
    df3 = df3.append(s2)

# kaitodeta2.pdf
elif pdf_num == 2:
    df3.loc[(df3["side"] ==9) & (df3["left"] == 383), "left"] = 382
    df3.loc[(df3["side"] ==12) & (df3["left"] == 356), "left"] = 355
    df3.loc[(df3["side"] ==12) & (df3["left"] == 857), "left"] = 856
    df3.loc[(df3["side"] ==12) & (df3["left"] == 1125), "left"] = 1126
    df3.loc[(df3["side"] ==13) & (df3["left"] == 560), "left"] = 559
    df3.loc[(df3["side"] ==13) & (df3["left"] == 592), "left"] = 593

    # 220列に空列生成
    s1 = pd.Series([1, 9, 519, 900, ""], index=df3.columns, name=9999999)
    df3 = df3.append(s1)

# kaitodeta3.pdf
elif pdf_num == 3:
    df3.loc[(df3["side"] ==24) & (df3["left"] == 739), "left"] = 740
    df3.loc[(df3["side"] ==24) & (df3["left"] == 852), "left"] = 851
    df3.loc[(df3["side"] ==24) & (df3["left"] == 884), "left"] = 885


# kaitodeta4.pdf
elif pdf_num == 4:
    df3.loc[(df3["side"] ==6) & (df3["left"] == 682), "left"] = 683
    df3.loc[(df3["side"] ==15) & (df3["left"] == 651), "left"] = 652

# kaitodeta5.pdf
elif pdf_num == 5:
    df3.loc[(df3["side"] ==8) & (df3["left"] == 767), "left"] = 768
    df3.loc[(df3["side"] ==11) & (df3["left"] == 356), "left"] = 355
    df3.loc[(df3["side"] ==13) & (df3["left"] == 1027), "left"] = 1026
    df3.loc[(df3["side"] ==13) & (df3["left"] == 1060), "left"] = 1059
    df3.loc[(df3["side"] ==15) & (df3["left"] == 470), "left"] = 469
    df3.loc[(df3["side"] ==15) & (df3["left"] == 502), "left"] = 503

## ずれ確認

In [ ]:
df_count = df3.pivot_table(index=["side", "left"], aggfunc="count")
df_count

           page  text   top
side left
1    79    6000  6000  6000
     358   6000  6000  6000
     385   6000  6000  6000
     412   6000  6000  6000
     485   6000  6000  6000
...         ...   ...   ...
14   1003  6000  6000  6000
15   79     115   115   115
16   66       1     1     1
     71       1     1     1
     73       1     1     1

[230 rows x 3 columns]

In [ ]:
# df_count.to_csv('count.tsv', sep='\t')

# 分析

In [ ]:
# ページ
df = df3.pivot_table(index=["page", "top"], columns=["side", "left"], values="text", aggfunc=lambda x: ' '.join(str(v) for v in x))

In [ ]:
df

side                            1                   ...        15   16
left                           79  358 385     412  ...       79   66   71   73
page top                                            ...
1    522  000001 0 0 1 0 0 0 1 0 0   0   0  0000 0  ...       NaN  NaN  NaN  NaN
     544  000002 0 1 0 0 0 0 0 0 1   0   1  0000 0  ...       NaN  NaN  NaN  NaN
     562  000003 0 1 0 0 1 0 0 0 0   0   2  0000 2  ...       NaN  NaN  NaN  NaN
     580  000004 0 0 1 0 0 0 0 0 0   1   1  0000 0  ...       NaN  NaN  NaN  NaN
     599  000005 0 0 1 0 0 0 0 1 0   0   2  2610 1  ...       NaN  NaN  NaN  NaN
...                            ...  ..  ..     ...  ...       ...  ...  ...  ...
155  321  005996 1 0 0 0 1 0 0 0 0   0   1  0000 0  ...       NaN  NaN  NaN  NaN
     340  005997 1 0 0 0 0 0 0 1 0   0   1  0000 0  ...       NaN  NaN  NaN  NaN
     358  005998 1 0 0 1 0 0 0 0 0   0   1  0000 0  ...  覚えてないです。  NaN  NaN  NaN
     377  005999 1 0 0 0 0 0 0 0 0   1   1  0000 0  ...       NaN  NaN  NaN  NaN
     395  006000 1 0 0 0 0 0 1 0 0   0   1  0000 0  ...       NaN  NaN  NaN  NaN

[6000 rows x 230 columns]

In [ ]:
df.to_csv('result.tsv', sep='\t', index=False, header=False)

In [ ]:
import re

with open("result.tsv") as fr:
    tsv_text = fr.read()

pattern1 = re.compile(r"(?<=\d) (?=\d)")
tsv_text = pattern1.sub("\t", tsv_text)

pattern2 = re.compile(r" (\d)\t\t")
tsv_text = pattern2.sub(r"\t\1\t", tsv_text)


if pdf_num == 1:
    tsv_text = re.sub(r"0\t\[04\] 月経量の異常による低血圧\t0\t\t00", r"0\t[04]\t月経量の異常による低血圧\t0\t00", tsv_text)

with open(f"result-{pdf_num}.tsv", mode="w") as fw:
    fw.write(tsv_text)