<a href="https://colab.research.google.com/github/imabari/ImabariScraping/blob/master/%E3%83%AF%E3%82%AF%E3%83%81%E3%83%B3%E6%8E%A5%E7%A8%AE%E6%AD%B4%E5%88%A5%E3%81%AE%E6%96%B0%E8%A6%8F%E9%99%BD%E6%80%A7%E8%80%85%E6%95%B0%E7%B0%A1%E6%98%93CSV%E5%A4%89%E6%8F%9B.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pdfplumber

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pdfplumber in /usr/local/lib/python3.7/dist-packages (0.7.4)
Requirement already satisfied: Wand>=0.6.7 in /usr/local/lib/python3.7/dist-packages (from pdfplumber) (0.6.10)
Requirement already satisfied: Pillow>=9.1 in /usr/local/lib/python3.7/dist-packages (from pdfplumber) (9.2.0)
Requirement already satisfied: pdfminer.six==20220524 in /usr/local/lib/python3.7/dist-packages (from pdfplumber) (20220524)
Requirement already satisfied: charset-normalizer>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from pdfminer.six==20220524->pdfplumber) (2.1.0)
Requirement already satisfied: cryptography>=36.0.0 in /usr/local/lib/python3.7/dist-packages (from pdfminer.six==20220524->pdfplumber) (37.0.4)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography>=36.0.0->pdfminer.six==20220524->pdfplumber) (1.15.1)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography>=36.0.0->pdfminer.six==20220524->pdfplumber) (2.21)

# 設定

In [ ]:
url = "https://www.mhlw.go.jp/content/10900000/000975388.pdf" #@param {type:"string"}
page_no = 2 #@param {type:"integer"}
view_date = "2022-07-31" #@param {type:"date"}

# ダウンロード

In [ ]:
!wget $url -O data.pdf

--2022-08-19 02:20:03--  https://www.mhlw.go.jp/content/10900000/000975388.pdf
Resolving www.mhlw.go.jp (www.mhlw.go.jp)... 96.7.101.214, 2600:1417:e800:183::3194, 2600:1417:e800:185::3194
Connecting to www.mhlw.go.jp (www.mhlw.go.jp)|96.7.101.214|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2767986 (2.6M) [application/pdf]
Saving to: ‘data.pdf’

data.pdf            100%[===================>]   2.64M  --.-KB/s    in 0.1s

2022-08-19 02:20:04 (25.1 MB/s) - ‘data.pdf’ saved [2767986/2767986]

In [ ]:
import pdfplumber
import pandas as pd

In [ ]:
# ページ番号変換
page_num = lambda x: x - 1

In [ ]:
# 表抽出

with pdfplumber.open("data.pdf") as pdf:

    page = pdf.pages[page_num(page_no)]

    table = page.extract_table()

In [ ]:
# 列名

df_col = pd.DataFrame(table[:2]).fillna(method="ffill", axis=1).replace("\s", "", regex=True)
df_col.iat[0, 0] = view_date
df_col

,0,1,2,3,4,5,6,7,8,9,10
0,2022-07-31,未接種,未接種,未接種,２回目接種済み（３回目接種済みを除く）,２回目接種済み（３回目接種済みを除く）,２回目接種済み（３回目接種済みを除く）,３回目接種済み,３回目接種済み,３回目接種済み,接種歴不明
1,,新規陽性者数(7/25-7/31の合計）,未接種者数(7/31時点),10万人あたりの新規陽性者数,新規陽性者数(7/25-7/31の合計）,２回目接種者数(３回目接種者数を除く)(7/31時点),10万人あたりの新規陽性者数,新規陽性者数(7/25-7/31の合計）,３回目接種者数(7/31時点),10万人あたりの新規陽性者数,新規陽性者数(7/25-7/31の合計)

In [ ]:
col = df_col.values.tolist()

In [ ]:
df = pd.DataFrame(table[2:], columns=col)

In [ ]:
df.set_index(df.columns[0])

                                未接種                               \
               新規陽性者数(7/25-7/31の合計） 未接種者数(7/31時点) 10万人あたりの新規陽性者数
(2022-07-31, )
0-11歳                       142,312    10,661,366         1334.8
12-19歳                       29,032     2,188,505         1326.6
20-29歳                       31,161     2,403,918         1296.3
30-39歳                       28,014     2,817,875          994.2
40-49歳                       21,447     3,156,002          679.6
50-59歳                       12,638     1,232,272         1025.6
60-64歳                        3,011       613,625          490.7
65-69歳                        1,815     1,042,000          174.2
70-79歳                        2,782       862,504          322.5
80-89歳                        1,864        40,255         4630.5
90歳以上                           820             －              －

                ２回目接種済み（３回目接種済みを除く）                              \
               新規陽性者数(7/25-7/31の合計） ２回目接種者数(３回目接種者数を除く)(7/31時点)
(2022-07-31, )
0-11歳
12-19歳                       46,576                   3,653,795
20-29歳                       57,377                   4,172,212
30-39歳                       51,511                   4,042,230
40-49歳                       46,397                   4,067,295
50-59歳                       22,503                   2,474,289
60-64歳                        4,187                     575,442
65-69歳                        2,142                     348,966
70-79歳                        2,854                     571,087
80-89歳                        1,936                     394,766
90歳以上                           791                     134,534

                                           ３回目接種済み                  \
               10万人あたりの新規陽性者数 新規陽性者数(7/25-7/31の合計） ３回目接種者数(7/31時点)
(2022-07-31, )
0-11歳
12-19歳                 1274.7               22,153       3,094,663
20-29歳                 1375.2               64,850       6,147,698
30-39歳                 1274.3               72,661       7,435,826
40-49歳                 1140.7               96,272      11,133,273
50-59歳                  909.5               84,447      13,058,644
60-64歳                  727.6               31,051       6,209,106
65-69歳                  613.8               25,295       6,693,599
70-79歳                  499.7               40,892      14,761,040
80-89歳                  490.4               22,916       8,592,454
90歳以上                   588.0                9,451       2,261,986

                                             接種歴不明
               10万人あたりの新規陽性者数 新規陽性者数(7/25-7/31の合計)
(2022-07-31, )
0-11歳
12-19歳                  715.8               33,445
20-29歳                 1054.9               43,416
30-39歳                  977.2               46,491
40-49歳                  864.7               46,311
50-59歳                  646.7               30,861
60-64歳                  500.1                9,820
65-69歳                  377.9                7,710
70-79歳                  277.0               12,593
80-89歳                  266.7                8,714
90歳以上                   417.8                3,704

In [ ]:
df

   2022-07-31                  未接種                               \
              新規陽性者数(7/25-7/31の合計） 未接種者数(7/31時点) 10万人あたりの新規陽性者数
0       0-11歳              142,312    10,661,366         1334.8
1      12-19歳               29,032     2,188,505         1326.6
2      20-29歳               31,161     2,403,918         1296.3
3      30-39歳               28,014     2,817,875          994.2
4      40-49歳               21,447     3,156,002          679.6
5      50-59歳               12,638     1,232,272         1025.6
6      60-64歳                3,011       613,625          490.7
7      65-69歳                1,815     1,042,000          174.2
8      70-79歳                2,782       862,504          322.5
9      80-89歳                1,864        40,255         4630.5
10      90歳以上                  820             －              －

    ２回目接種済み（３回目接種済みを除く）                                             \
   新規陽性者数(7/25-7/31の合計） ２回目接種者数(３回目接種者数を除く)(7/31時点) 10万人あたりの新規陽性者数
0
1                46,576                   3,653,795         1274.7
2                57,377                   4,172,212         1375.2
3                51,511                   4,042,230         1274.3
4                46,397                   4,067,295         1140.7
5                22,503                   2,474,289          909.5
6                 4,187                     575,442          727.6
7                 2,142                     348,966          613.8
8                 2,854                     571,087          499.7
9                 1,936                     394,766          490.4
10                  791                     134,534          588.0

                ３回目接種済み                                               接種歴不明
   新規陽性者数(7/25-7/31の合計） ３回目接種者数(7/31時点) 10万人あたりの新規陽性者数 新規陽性者数(7/25-7/31の合計)
0
1                22,153       3,094,663          715.8               33,445
2                64,850       6,147,698         1054.9               43,416
3                72,661       7,435,826          977.2               46,491
4                96,272      11,133,273          864.7               46,311
5                84,447      13,058,644          646.7               30,861
6                31,051       6,209,106          500.1                9,820
7                25,295       6,693,599          377.9                7,710
8                40,892      14,761,040          277.0               12,593
9                22,916       8,592,454          266.7                8,714
10                9,451       2,261,986          417.8                3,704

In [ ]:
df.to_csv("result.csv", encoding="utf_8_sig")